*{
    font-family: 'Poppins', sans-serif;

}

.landing{

    position: relative;
    width: 100%;
    height: 1230px;

    background-color: #2E333A;

    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 60px;
        
        position: absolute;
        width: 100%;
        height: 136px;
        left: 0px;
        top: 0px;
        
    }

    .f33527{
        display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
    padding: 0px;
    
    width: 100%;
    height: 76px;
    
     
    
    margin: 0 auto;
    
    background-image: url('images/image 1.png');
    background-repeat: no-repeat;
    
    
    }

    .f33589{
    
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 70px;
    
    margin: 0 78%;
    width: 318px;
    height: 76px;
    
    
    
    }

    .btn-1{
        box-sizing: border-box;
        
    padding: 5px  ;
    
    
    width: 140px;
    height: 45px;
    background: #2E333A;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 10px;
    

    
    
    
    font-weight: 600;
    font-size: 21px;
    
    
    display: flex;
    justify-content: center;
    text-align: center;
    color: #B2C2CB;
    
    
    }

    .btn-2{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    
    width: 56px;
    height: 56px;
    background: #2E333A;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 12px;
    
    font-size: 27px;
    color: #B2C2CB;
    
    
    }


    .f33540{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px 0px;
    
    background: #2E333A;
    position: absolute;
    width : 100%;
    height: 2350px;
    
    top: 146px;
    
    
    
    }

    .g33540{
        width: 100%;
    height: 2220px;

    }

    .screens{
        position: absolute;
    left: 0%;
    width: 100%;
    height: 1700px;
    top: 7.09%;
    bottom: 25.11%;
    }

.g33538{
        position: absolute;
        top: 4%;
    width: 76.5%;
    height: 63%;
    left: 23.5%;
    background: url('images/Group 33538.png');
    }



.gradiant{
    position: absolute;
    width: 100%;
    height: 900px;
left: 0px;
z-index: 1;
top: 26.71%;
bottom: 25.11%;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 59.9%, rgba(14, 14, 14, 0) 100%);

}

.g33539{
position: absolute;
width: 100%;
height: 1046.66px;
left: 0px;
top: 50px;
}

.f181{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 40px;
z-index: 2;
position: absolute;
width: 49%;
height: 63%;
left: 190px;
top: 0px;
background: #2E333A;
box-shadow: -7px -7px 30px 0px #262E32, 14px 14px 40px 0px #101012BF;
border-radius: 1em;
}

.herocont{
    display: flex;
flex-direction: column;
align-items: start;
width: 100%;
height: 65%;
color: #fff;
gap: 0px;


}

.herocont h1{
    font-size: 60px;
    line-height: 80px;
    
}

.herocont p{
    font-size: 24px;
    font-weight:600;
}

.f33590{
    display: flex;
flex-direction: column;
align-items: flex-start;


gap: 40px;
width: 40%;
height: 150px;
}

.btn3{
    width: Hug (325px);
height: Hug (55px);
padding: 15px 30px 15px 30px;
border-radius: 11px;
background: #2E333A;
box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
font-family:Arial, Helvetica, sans-serif;
font-size: 27px;
font-weight: 600;
text-align: center;
color: #0ED2F6;
border: 1px solid #0ED2F6;

}

.people{
    width: 100%;
    height: 80px;

}

.eclipse490{
    position: absolute;
    bottom: 4.5%;
    width: 60.90909194946289px;
    height: 54px;

}

.eclipse491{
    position: absolute;
    bottom: 4%;
    left: 80px;
    width: 60.9090919494628px;
height: 61px;


}

.eclipse492{
    position: absolute;
    bottom: 4%;
    left: 120px;
    width: 60.90909194946289px;
    height: 61px;
    
}

.people p{
    position: absolute;
    bottom: 4%;
    color: #fff;
    left: 200px;
    font-family:Arial, Helvetica, sans-serif;
}

.contentrow{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 80px;
color: #fff;
position: absolute;
width: 100%;
height: 213.66px;
left: 0px;
top: 84%;
z-index: 2;

}


.textblock1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 326.49px;
height: 173.66px;

}

.textblock2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 326.49px;
height: 173.66px;

}

.textblock3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 326.49px;
height: 173.66px;

}

.contentrow p{
    font-size: 17px;
}

.signin{
    position: absolute;
    width: 91%;
height: 100%;
top: 105%;
padding: 60px 80px 100px 80px;
gap: 10px;
}



.frame1{
    position: relative;
    display: flex;
flex-direction: column;
align-items: center;
border-radius: 2em;
padding: 50px;
z-index: 2;
margin-top: 50px;
width: 835px;
height: 923px;
background: #2E333A;
box-shadow: -7px -7px 30px 0px #262E32, 14px 14px 40px 0px #101012BF;
color: #0ED2F6;
font-family:Arial, Helvetica, sans-serif;
gap: 35px;
}

.frame1 h1{
    font-size: 45px;
    
}


.row1{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 7%;
width: 100%;
height: 95px;


}

.row2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 7.5%;
width: 100%;
height: 95px;


}

.row3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 7%;
width: 100%;
height: 95px;


}

.row4{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 100%;
height: 225px;


}


.textfield{
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#one{
    width: 100%;
    height: 35px;
    padding: 6px 10px 6px 10px;
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background: #2E333A;
}

.textfield1{
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#two{
    width: 100%;
    height: 35px;
    padding: 6px 10px 6px 10px;
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    background: #2E333A;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.textfield2{
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#three{
    width: 100%;
    height: 35px;
    padding: 6px 10px 6px 10px;
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    background: #2E333A;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.textfield3{
    width: 48%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#four{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    gap: 6px;
    box-shadow: -6.22302px -6.22302px 6.22302px #3B4451, 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    background: #2E333A;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.textfield4{
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#five{
    width: 100%;
    height: 35px;
    padding: 6px 10px 6px 10px;
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    
    background: #2E333A;
}

.textfield5{
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#six{
    width: 100%;
    height: 35px;
    padding: 6px 10px 6px 10px;
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #2E333A;
}

.textfield6{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 0%;
    font-weight: 800;
}

#seven{
    width: 97%;
    height: 160px;
    padding: 6px 10px 6px 10px;
    box-shadow: inset -6.22302px -6.22302px 6.22302px #3B4451, inset 3.73381px 3.73381px 6.22302px #000000;
    border-radius: 10px;
    background: #2E333A;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.acc{
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: #32e0ff;
}